doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		link(rel="stylesheet", href="todoapp.css")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body 
	header 
		h1.title Welcome to my TODO-APP	
	main.main-container
		p.p-login-or-singup Please log in to continue, don't you have an account? Sing up!
		div.links-container
			a(href="/login").login-link Log in
			a(href="/register").singup-link Sing Up




